@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Satan';
        src: url('/fonts/satan.ttf') format('truetype');
        font-weight: normal; /* Specify font-weight */
        font-style: normal;  /* Specify font-style */
      }
    
      @font-face {
        font-family: 'Zombie';
        src: url('/fonts/zombie.ttf') format('truetype');
        font-weight: normal; /* Specify font-weight */
        font-style: normal;  /* Specify font-style */
      }
    
      @font-face {
        font-family: 'VHS';
        src: url('/fonts/vhs.ttf') format('truetype');
        font-weight: normal; /* Specify font-weight */
        font-style: normal;  /* Specify font-style */
      }
}